<?xml version="1.0"?>
<config version="1.0" serial="24" timestamp="1383089489.51">
  <Lib>
    <Account>
      <LastUsed>1383087976</LastUsed>
      <LocalData>4215</LocalData>
      <Migration>63</Migration>
      <OMigration>1</OMigration>
    </Account>
    <Alerts>
      <CleanupTime>1383087976</CleanupTime>
    </Alerts>
    <Call>
      <DPC>41010501410203026563686F313233000003A385C19305</DPC>
      <MissedCallsRegistrarAnchor>0</MissedCallsRegistrarAnchor>
    </Call>
    <CentralStorage>
      <LastBackoff>600</LastBackoff>
      <LastFailure>1383089488</LastFailure>
      <LastSync>1383088708</LastSync>
      <NeedSync>1</NeedSync>
      <SyncSet>
        <p>
          <avatar>b5d1d230:2</avatar>
          <email>e65b973f:2</email>
          <firstname>d86a683f:2</firstname>
          <lastname>8f3f5624:2</lastname>
          <phones>dfcf13b2:2</phones>
          <profile>ec62b51c:2</profile>
        </p>
        <u>
          <echo123>9db4df93:2</echo123>
          <tim.2Etintin71>2d4074d:0</tim.2Etintin71>
        </u>
      </SyncSet>
    </CentralStorage>
    <Contacts>
      <Migration>2</Migration>
    </Contacts>
    <Conversation>
      <CreationTimestampFixed>1</CreationTimestampFixed>
      <DupeLegacyDeleted2>1</DupeLegacyDeleted2>
      <GivenDisplaynameFixed>1</GivenDisplaynameFixed>
      <PermanenceFixed>1</PermanenceFixed>
      <PinnedOrderMigrated>1</PinnedOrderMigrated>
      <PruningHorizon>1383087976</PruningHorizon>
    </Conversation>
    <DynContent>
      <LastIpCountry>de</LastIpCountry>
      <S>
        <LastTime>1383087978</LastTime>
      </S>
      <UILang>de</UILang>
    </DynContent>
    <Notification>
      <LastID>1000000005</LastID>
      <LastPoll>1383088920</LastPoll>
      <LastSearch>1383088920</LastSearch>
    </Notification>
    <PM>
      <pslut>1383087977</pslut>
    </PM>
    <ProfilePopulated>1</ProfilePopulated>
    <PropsManager>
      <PermaProps>410900AE200000AB200000872000008B20EAFFC0930500F5010100F8012A00FA0100008920E185C1930500FC0103</PermaProps>
    </PropsManager>
    <PushNotifications>
      <PK>x2b450816fdbc9bc2758d11657fac0426617a0a2afa1b605d5689a6013cfd133881372e6285622b439ff165caeefa5372838e1a9c573c5f751c59b86e8a6ec0e53226d8df</PK>
    </PushNotifications>
    <Reachback>
      <Enable>1</Enable>
    </Reachback>
    <Sms>
      <CliOptions>4100</CliOptions>
      <CliOptionsFetchedOK>0</CliOptionsFetchedOK>
      <CliOptionsVersion>2</CliOptionsVersion>
    </Sms>
    <StatsSender>
      <Phase2>
        <ProposedDelivery>1383121504</ProposedDelivery>
      </Phase2>
      <SubmitID>6</SubmitID>
      <Type2SubmitID>
        <_1>3</_1>
        <_10>2</_10>
        <_18>2</_18>
        <_34>2</_34>
      </Type2SubmitID>
    </StatsSender>
    <Video>
      <AutoSend>0</AutoSend>
    </Video>
    <table_insert_history>
      <_1f4a7d11e8850e28b8e26c509e15fc06328d41fa94269c15a51df150933ff821>1383174379 11655:21600:1383087979 52033:14400:1383087979 40099:28800:1383087979 23776:21600:1383087979 2147484390:86400:1383087979</_1f4a7d11e8850e28b8e26c509e15fc06328d41fa94269c15a51df150933ff821>
    </table_insert_history>
  </Lib>
  <UI>
    <Devices>
      <OutputDevices>
        <_0>
          <Active>1</Active>
          <Handle>{0.0.0.00000000}.{bc15b663-2d66-4777-96ab-7667950527c6}</Handle>
          <Name>Speakers (Realtek High Definition Audio)</Name>
          <ProductId>283902569</ProductId>
        </_0>
      </OutputDevices>
      <RecordingDevices>
        <_0>
          <Active>1</Active>
          <Handle>{0.0.1.00000000}.{ca6b4b15-4993-4f47-9257-af3baf9a389d}</Handle>
          <Name>Microphone (Realtek High Definition Audio)</Name>
          <ProductId>283902569</ProductId>
        </_0>
      </RecordingDevices>
    </Devices>
    <General>
      <AccountCreationTime>41577</AccountCreationTime>
      <Avatar>C:\Users\Thiice\AppData\Roaming\Skype\Pictures\Schnappschuss von mir 1.png</Avatar>
      <AvatarChecksum>2aaef8960656b3e86c91deab61b782459331bad1acc50f1764e3110c786fac6a</AvatarChecksum>
      <AvatarLastChanged>41577</AvatarLastChanged>
      <AvatarPath>C:\Users\Thiice\AppData\Roaming\Skype\Pictures\</AvatarPath>
      <CallPhonesTimestamp>41577</CallPhonesTimestamp>
      <ContentPath>C:\Users\Thiice\AppData\Roaming\Skype\Content\</ContentPath>
      <FiletransferDir>C:\Users\Public\Pictures\Sample Pictures\</FiletransferDir>
      <HQVideoDevices>
        <_0>USB 2.0 UVC 0.3M WebCam</_0>
      </HQVideoDevices>
      <LastMigrationVersion>6.3.0.107</LastMigrationVersion>
      <SkypeHomeLastRead>1383088136</SkypeHomeLastRead>
      <SkypeHomeLastUpdate>0</SkypeHomeLastUpdate>
      <echo123Added>1</echo123Added>
    </General>
    <MainWindow>
      <ConvListWidth>250</ConvListWidth>
    </MainWindow>
    <MainWindow40>
      <Height>582</Height>
      <Maximized>0</Maximized>
      <Width>932</Width>
      <X>1659</X>
      <Y>-99</Y>
    </MainWindow40>
    <TransferSaveDir>C:\Users\Thiice\AppData\Roaming\Skype\My Skype Received Files\</TransferSaveDir>
  </UI>
</config>
